docs/development/n8n-ai-assistant-openai.json
{
  "name": "STUDIO360 AI Assistant (OpenAI via HTTP)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-assistant",
        "responseMode": "lastNode",
        "options": {
          "responseData": "json"
        }
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "functionCode": "const input = $json;\nconst text = String(input.message || '').trim();\nconst system = 'You are the STUDIO360 AI assistant. Be concise, accurate, and helpful. If asked about bookkeeping features, briefly guide to upload receipts, categorize transactions, or generate reports.';\nconst messages = [ { role: 'system', content: system }, { role: 'user', content: text } ];\nreturn [{ json: { payload: { model: 'gpt-4o-mini', messages, temperature: 0.3, max_tokens: 500 } } }];"
      },
      "id": "BuildPayload",
      "name": "Build Payload",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [560, 300]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "options": {},
        "jsonParameters": true,
        "sendBody": true,
        "bodyParametersJson": "={{$json.payload}}",
        "headerParametersJson": "={\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": \"Bearer {{$env.OPENAI_API_KEY}}\"\n}"
      },
      "id": "HTTP",
      "name": "OpenAI Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [820, 300]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            { "name": "reply", "value": "={{$json[\"choices\"][0].message.content}}" }
          ]
        }
      },
      "id": "SetReply",
      "name": "Extract Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "Respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Build Payload", "type": "main", "index": 0 }]] },
    "Build Payload": { "main": [[{ "node": "OpenAI Chat", "type": "main", "index": 0 }]] },
    "OpenAI Chat": { "main": [[{ "node": "Extract Reply", "type": "main", "index": 0 }]] },
    "Extract Reply": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "st360-ai-openai-http-v1"
}
